<section class="section">
  {{> infoMsg}}
  {{#each products}}
  <div class="row columns">
    {{#each this}}
    <div class="column is-one-third equal-height">
      <div class="card large product-card">
        <div class="card-image">
          <figure class="image product-image">
            <img src="{{thumbnail}}" alt="Image">
          </figure>
        </div>
        <div class="card-content">
          <div class="content">
            <p class="title is-4 no-padding">{{title}}</p>
            <span>{{truncate 40 description}}</span>
          </div>
        </div>
        <div class="level shop-card-footer">
          <div class="level-left">
            <span class="is-size-5"><strong>${{price}}</strong></span>
          </div>
          <div class="level-right">
            <a href="/add-to-cart/{{id}}" class="button">Add to cart</a>
          </div>
        </div>
      </div>
    </div>
    {{/each}}
  </div>
  {{/each}}
</section>


{{#contentFor 'scripts'}}
<script>
  window.onload = () => {
    const msg = '{{successMessage}}';
    if (msg !== '') toast({ message: msg });
  };
</script>
{{/contentFor}}